body {
  text-align: center;
  font-family: Helvetica;
}


  .completeRotation {
    transition: transform 0.3s ease 0s;
  }

.Design {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.Home {
  font-size: 18px;
  color: white;
}

.Process {
  font-size: 18px;
  color: white;
}

.Work {
  font-size: 18px;
  color: white;
}

.Team {
  font-size: 18px;
  color: white;
}

.Contact {
  font-size: 18px;
  color: white;
}

.Our {
  font-size: 32px;
  font-weight: bold;
}

.Identify {
  font-size: 23px;
  font-weight: bold;
}

.text {
  font-size: 14px;
}

.Designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.copyright {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
